.allb-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    gap: 1rem;
}

.wrapper{
    line-height: 1.1;
    word-break: break-all;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    cursor: pointer;
}

.wrapper p{
    margin: .3rem 0;
}

.board-del{
    background-color: rgba(255, 0, 0, .5);
    padding: .2rem .4rem;
    font-size: .8rem;
    float: right;
}