.allb-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    align-items: center;
    gap: 1rem;
}

.wrapper{
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    cursor: pointer;
}