.board{
    padding: 1rem;
    width: 100%;
    height: calc(100vh - 2.8rem - 1px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .1);
    position: relative;
}

.board-head{
    display: flex;
    padding: .7rem .4rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.bh-top{
    background-color: rgba(255, 255, 255, .9);
}

.bh-top:hover{
    background-color: rgba(255, 255, 255, .6);
}

.board-head > div{
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .5rem 1rem;
    cursor: pointer;
}

.status-holder{
    margin: 0 5px;
}

.status-title{
    background-color: #ebecf0;
    padding: .5rem;
    padding-bottom: 0;
}

.task-holder{
    position: absolute;
    background-color: rgba(0,0, 0, 0.5);
    height: calc(100vh - 2.8rem - 1px);
    width: calc(100vw + .5rem);
    left: -.5rem;
    top: 0;
}

.detailed{
    background-color: #ebecf0;
}

.lists{
    padding: .5rem;
    background-color: #ebecf0;
    max-height: 70vh;
    overflow-y: scroll;
}

.list-add,
.new-status{
    cursor: pointer;
    text-align: center;
}

.list-add:hover,
.new-status:hover{
    color: rgba(0,0, 0, .8);
}

.list-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    background-color: white;
    padding: .2rem .5rem;
    margin-bottom: .3rem;
}

.list-cont p:first-child{
    word-break: break-all;
    cursor: pointer;
}

.list-lasts button:last-child{
    margin-left: .5rem;
}

.list-lasts button{
    padding: .3rem .5rem;
    font-size: .9rem;
}

.new-status{
    padding: .5rem;
    background-color: #ebecf0;
}

.board-users{
    position: relative;
}

.board-useroption{
    top: 102%;
    z-index: 3;
    padding: 1rem;
    width: 200px;
    position: absolute;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .1);
}

.board-useroption > div{
    margin: .5rem 0;
}

.list-ghost{
    cursor: grabbing;
    transition: transform 0.18s ease;
    transform: rotateZ(5deg)   
}

.list-ghost-drop{
    transition: transform 0.18s ease;
    transform: rotateZ(0deg)   
}

.list-drop-preview {
    background-color: rgba(0,0, 0, 0.3);
    margin: 5px;
}

.staus-drop-preview{
    margin-left: 5px;
    height: 250px;
    background-color: rgba(0,0, 0, 0.3);
}

.column-drag-handle{
    background-color: #ebecf0;
    cursor: move;
    padding: .5rem 0;
}

.nondrag{
    cursor: default;
}