.bg,
.selbg{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-bottom: .5rem;
}

.bg div div,
.bg img,
.selected div,
.selected img{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .1);
    object-fit: fill;
    cursor: pointer;
}
