.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    background-color: #026aa7;
}

.nav > div,
#nav-board,
#fl{
    display: flex;
    align-items: center;
}

#nav-board{
    cursor: pointer;
    margin-left: .4rem;
}

#nav-board span{
    margin-left: .2rem;
    color: rgba(255, 255, 255, .8);
}

.nav a{
    position: relative;
    display: contents;
    color: rgba(255, 255, 255, .8);
}

.nav a:hover,
.logo strong:hover,
#nav-board span:hover{
    color: rgba(255, 255,255, 1);
}

#login p:first-child{
    margin-right: 1rem;
}

#homehover{
    fill: rgba(255, 255, 255, .8);
}

#homehover:hover{
    fill: rgba(255, 255, 255, 1);
}

.logo strong{
    cursor: pointer;
    margin: 0 .3rem;
    color: rgba(255, 255, 255, .8);
}

.nav-board-list{
    position: absolute;
    z-index: 10;
    top: calc(2.8rem + 1px);
    left: 0;
}

.pro-con{
    position: relative;
}

#plus{
    padding: .2rem;
    line-height: 1;
    cursor: pointer;
    border-radius: 5px;
    margin-right: .5rem;
    border: 1px solid rgba(0, 0,0, 0.1);
    background-color: rgba(255, 255,255, 0.1);
}

#plus a svg{
    stroke: rgba(255,255,255,.8);
}

#plus:hover{
    background-color: rgba(0, 0,0, 0.1);
}

.username{
    font-size: .9rem;
    text-align: center;
    border: 1px solid rgba(0, 0,0, 0.1);
    border-radius: 50%;
    line-height: 1;
    cursor: pointer;
    padding: .4rem .5rem;
    color: #fff;
    background-color: rgb(250, 128, 144);
}

.username:hover{
    background-color: rgba(250, 128, 144, .8);
}

.mini{
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    z-index : 2;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0,0, 0.1);
}

.mini ul li{
    padding: .4rem 0;
}

.mini ul li a{
    color: rgb(65, 105, 225);
}

.mini ul li a:hover{
    color: rgb(65, 105, 225, .7);
}

.mini ul li:first-child{
    margin-top: .5rem;
}

.mini ul li:last-child {
    margin-bottom: .5rem;
}