.nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}